#Nav-Bar {
  border: transparent;
  box-shadow: none;
  position: fixed;
  width: 100vw;
  padding-top: 1.2vh;
  padding-bottom:1vh;
  background: transparent;
  padding-left: 2vw;
  padding-right: 2vw;
  /*background: white;*/
  z-index: 999;
}

#Nav-Bar.Top {
  background: transparent;
}

#Nav-Bar.Past-Top {
  background: white;
}

.Nav-Logo {
}

.Nav-Logo-Img {
  height: 30px;
  margin-right: 10px;
}

.Nav-Logo-Text {
  display: inline;
  font-family: "Lato";
  color: #4A4A4A;
  font-size: 30px;
  font-weight: 500;
}

.Nav-Buttons {
  color: white;
  font-size: 17px;
  padding:10px;
  margin-left:10px;
}

.Nav-Buttons.Top {
  color: white;
}

.Nav-Buttons.Past-Top {
  color: black;
}

/* Hero in non-mobile */
.hero {
  height: 60vh;
}

.hero-image {
  max-height: 60vh;
  float: right;
}

/* Place text in the middle of the image */
.hero-text {
    position: absolute;
    top: 23vh;
}

#Hero-Title {
  font-size: 3.5vw;
  font-weight: 400;
  color: #4A4A4A;
  margin-bottom: 0px
}

#Hero-Subtitle {
  font-size: 2.4vw;
  font-weight: 100;
  color: #686868;
  margin-top: 0px;
  margin-bottom: 30px
}

#Hero-Button {
  background-color: #FFC76B;
  border-radius: 5px;
  font-weight: 200;
  box-shadow: 2px 2px 15px #A37220;
}

#Hero-Button:hover {
  background-color: #F5AB31;
}

.Vows-Title {
  text-align:center;
  padding-top:40px;
  padding-bottom:20px;
}

/*Index.js Cards*/
.Index-Cards .header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Index-Cards .meta {
  font-style: italic;
  margin-bottom: 10px;
}

.Index-Cards .vows-link {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/*CertificateLayout Header*/
.Home-Button {
  color: #434343;
  position: absolute;
  left: 0;
  font-family: "Pinyon Script";
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .Home-Button {
      margin-top: -40px;
    }
}
.Social-Buttons {
  position: absolute;
  right: 0;
  /*padding: 0px;*/
  cursor: pointer;
}

 /*CertificateLayout.js */
.Certificate-Layout {
  /*Encapsulates Marriage Form as well*/
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/static/pattern.png");
}

.Certificate-Layout-Child {
  vertical-align: middle;
  width: 80%;
  height: 80%;
  background: #fff;
  /*Added to make content align to bottom of certificate*/
  position: relative;

}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .Certificate-Layout {
      height: auto;
    }
    .Certificate-Layout-Child {
      height: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }


.Certificate-Layout-Header {
  width: 100%;
  text-align: center;
}

.Certificate-Layout-Image {
  opacity: 0.4;
  height: 40px;
}

.Cert-of-Marriage-Title {
  font-family: "Libre Baskerville";
  margin-bottom: 0px;
  margin-top: 10px;
}

.Cert-of-Marriage-Subtitle {
  font-family: "Pinyon Script";
  font-size: 20px;
  margin-bottom: 25px;
  color: #5e5e5e;
  opacity: 0.6;
}

/* MarriageForm.js */

/*This is a child of Layout-Child*/
.Cert-Container {
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 20px;

  width: 90%;
  height: auto;
  position: relative;
  margin: 0 auto;

  /*Added to Make Content align to Bottom of Certificate*/
  position: absolute;
  bottom: 0;
  height: 80%;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .Cert-Container {
      padding: 0px;
      position: relative;
      height: auto;
      margin-bottom: 30px;
    }
  }

.Form-Input-Label {
  text-align: center;
  font-family: "Pinyon Script";
  font-size: 23px;
}

.And-Separator {
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .And-Separator {
      width: 100%;
      margin: 0;
      padding: 0;
    }
}
.Line-White-Space {
  margin-top: 20px;
}

#MarriageBtn {
  background-color: #ED8E91;
  color: white;
}

#MarriageBtn:hover {
  background-color: #DF6C70;
  color: white;
}

/* /Vows/Show.js */
.Large-Serif {
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-size: 20px;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Large-Cursive {
  font-size: 25px;
  font-family: "Pinyon Script";
  font-weight: 700;
  margin-top: 20px;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .Large-Cursive {
      margin-top: 50px;
    }
}

#Vows-Grid {
  width: 90%;
  margin: 10px auto;
  font-family: "Libre Baskerville";
  font-size: 14px;
  text-align: center;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    #Vows-Grid {
      width: auto;
    }
}

/*TODOD truncate cols*/
.Vows-Text {

}

.Witnessed-By-Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .Witnessed-By-Footer {
      position: relative;
      margin-top: 40px;
      overflow: hidden;
    }
}


.Witnessed-Box {
  display: inline-block;
}


.Witnessed-Text-1 {
  text-align: left;
  font-family: "Pinyon Script";
  font-size: 23px;
}

.Witnessed-Text-2 {
  text-align: left;
  font-family: "Libre Baskerville";
  font-size: 12px;
  line-height: 1.1;
}

.BlockChain-Logos {
  height: 25px;
  margin-left: 10px;
  margin-right: 5px;
}

/*Wedding Bell*/
#Bell-Button {
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
}
.Bell-Icon{
  width: 40px;
  height: 40px;
}
.bell{
  display:block;
  width: 40px;
  height: 40px;
  font-size: 40px;
  margin: 10px auto 0;
  color: #9e9e9e;
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 0px;
}


/* Modal */
.ui.modal#Ring-Bell-Modal {
  top: 25%;
}

#Modal-Image {
  float: left;
  margin-right: 25px;
}

#Modal-Description {
  float: left;
}

#Modal-Message {
  max-width: 350px;
}


/*Withdraw Div*/
.Withdraw-Div {
  margin-top: -140px;
  float: right;
  margin-right: 40px;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
  .Withdraw-Div {
    margin: 0;
    margin-bottom: 40px;
    float: none;
    text-align: center;
  }
}

#Withdraw-Text {
  font-family: "Libre Baskerville";
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 10px;
}

/*FAQs*/

.FAQ-Accordion {
  font-size: 15px;
  margin-top: 30px;
  width: 80%;
}

#Accordion-Content {
  padding-left: 50px;
}

/* Animatinos for Wedding Bell */
@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

#Mobile-Show {
  display: none!important;
}

#Mobile-Pop-Header {
  font-size: 18px;
  margin-bottom: 5px;
}

#Mobile-Pop-Content {
  font-size: 14px;
  margin-bottom: 5px;
}

#Mobile-Pop-Description {
  padding-left: 10px;
  padding-top: 5px;
}

#Mobile-Pop-Button {
  color: black!important;
  float: right;
}

#Mobile-Pop-Img img{
  float: right;
  height: 40px;
  max-width: none!important;
}

.BottomBanner{

}

.BottomContainer {
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 96rem;
}

/* Hero in mobile */
@media (min-width: 320px) and (max-width: 991px) {
  #Mobile-Show {
    display: block!important;
    position: fixed;
    top: 75%;
    left: 0;
    z-index: 1001;
    bottom: 0;
    background-color: #fff;
    padding: 1.5rem;
    border-top: .2rem solid #f3f1ee;
    width: 100%;
    margin: 0;
    padding-top: 10px;
  }

  #Nav-Bar {
    box-shadow: 2px 2px #88888826;
    background: white;
  }

  .Nav-Logo {
  }

  .Nav-Logo-Img {
  }

  .Nav-Logo-Text {
    display: inline-block;
    font-size: 19px;
    position: absolute;
    top: 25%;
  }

  .Nav-Buttons {
    color: white;
    font-size: 16px;
  }

  .Nav-Buttons.Top {
    color: black;
  }

  .Nav-Buttons.Past-Top {
    color: black;
  }

  .hero {
    padding-top:56px;
    height:79vh;

  }

  .hero-image {
    max-height:50vh;
    max-width:95vw;
  }

  /* Place text in the middle of the image */
  .hero-text {
    top:52vh;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;

  }

  #Hero-Title {
    font-size:8vw;
    font-weight:700;
  }

  #Hero-Subtitle {
    font-size:5vw;
    margin-bottom:15px;
  }

  #Hero-Button {
    font-size:1.2em;
  }

  #Hero-Button:hover {
  }
}


#About-Grid {
  width: 100%;
}

#About-Container {
  margin-bottom: 100px;
}




/*Progress Bar*/
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}